{% extends "layout.html" %}
{% set title = "Add Recipe" %}
{% block content %}
<div class="grid grid-flow-col justify-between items-center mb-4">
    <h1 class="text-5xl">Add New Recipe</h1>
    <div>
        <a href="/recipes"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Recipe
            List</a>
        <a href="/auth/logout"
            class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Logout</a>
    </div>
</div>
<form action="/recipes/create" method="POST" class="grid gap-5 grid-flow-col">
    <div class="bg-slate-200 p-5 rounded">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
        </label>
        <input
            class="mb-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" name="name" type="text" placeholder="Name"
            value="{{session['name'] if session['name'] else '' }}">
        {% with errors = get_flashed_messages(category_filter=["name"]) %}
        {% if errors %}
        <div class="text-red-500">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Description
        </label>
        <textarea
            class="mb-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="description" name="description" type="text" placeholder="Description"
            rows="5">{{session['description'] if session['description'] else '' }}</textarea>
        {% with errors = get_flashed_messages(category_filter=["description"]) %}
        {% if errors %}
        <div class="text-red-500">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <label class="block text-gray-700 text-sm font-bold mb-2" for="instructions">
            Instructions
        </label>
        <textarea
            class="mb-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="instructions" name="instructions" type="text" placeholder="Instructions"
            rows="5">{{session['instructions'] if session['instructions'] else '' }}</textarea>
        {% with errors = get_flashed_messages(category_filter=["instructions"]) %}
        {% if errors %}
        <div class="text-red-500">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <div class="bg-slate-200 p-5 rounded">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="cook_date">
            Date Cooked
        </label>
        <input
            class="mb-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="cook_date" name="cook_date" type="date"
            value="{{session['cook_date'] if session['cook_date'] else '' }}">
        {% with errors = get_flashed_messages(category_filter=["cook_date"]) %}
        {% if errors %}
        <div class="text-red-500">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <div>
            <p>Under 30 min?</p>
            <input type="radio" id="yes" name="is_under_30_min" value="1" checked>
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="is_under_30_min" value="0">
            <label for="no">No</label>
        </div>
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">Create Recipe</button>
    </div>
</form>

{% endblock content %}